<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Web Marketplace</title>
  </head>
  <body>
    <div>
      <h1>Welcome <%= locals.firstName %> <%= locals.lastName %></h1>
      <br />
      <h4>
        Enjoy the magical webshop with power of nestJS microservice arhitecture.
        Shop with ease and enjoy the experienece!!
      </h4>
    </div>
  </body>
</html>
